.skills,
.hobbies,
.contacts{
    align-content: center;
  color: var(--text-color);
  width: 80vw;
  min-height: 100vh;
  height: auto;
  display: grid;
  /* grid-auto-flow: dense;*/
  grid-auto-rows: minmax(9rem,13rem);
  grid-template-columns: repeat(auto-fit,minmax(min(30%,18rem),2fr));
  gap:1.5rem;
  
}

.skill,
.hobbie,
.contact {
    border: 1px solid var(--border-color);
    list-style: none;
    font-size: 5rem;
    width:7rem;
    height:7rem;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.5s;
    border-radius:4px;
    justify-self: center;
    align-self: center;
    color: var(--text-color);
    
  }


  .v-icon{
    width: 75%;
  }

  .v-icon,
  .fab{
    pointer-events: none
  }
  
  .skill path{
    fill:var(--text-color);
    stroke:var(--text-color);

  }
  
  .hobbie path{
    stroke-width:2 ;
    stroke-linejoin:round;
    stroke-linecap: round;
    fill:none;
    stroke:var(--text-color);

  }

  .skill:hover  path{
    fill:var(--background-color)

  }

  .hobbie:hover path{
    stroke:var(--background-color)
  }

  .contact:hover a{
    color:var(--background-color);
    text-decoration: none;

  }

  .contact>a{
    display: flex;
  }


  
  .skill:hover,
  .hobbie:hover,
  .contact:hover{
    text-decoration: none;
    background-color: var(--select-color);
    box-shadow: var(--glow-color) 0 0 30px;
    /* filter: drop-shadow(var(--glow-color) 0 0 30px); */
    border: 1px solid var(--select-color);
    color: var(--background-color);
  }
  


  /* @media screen and (min-width: 720px) {
    .skills,
    .hobbies,
    .contacts{
      width: 90vw;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    gap:0.7rem
  }

  .skill,
.hobbie,
.contact {
    font-size: 6rem;
    width:8rem;
    height:8rem;
    
  }
  } */

  /* @media screen and (min-width: 1280px) {
    .skills,
    .hobbies,
    .contacts{
      width: 80vw;
    height: auto;
    grid-template-columns: repeat(5, 1fr);
    gap:1rem
  }

  .skill,
.hobbie,
.contact {
    font-size: 9rem;
    width:11rem;
    height:11rem;
    
  }
  }
   */
