.project {
  color: var(--text-color);
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 40vh;
  z-index: 3;
  background-color: var(--background-color);
  padding: 1rem;
  justify-content: space-around;
  transition: 1s;
  transform: translateX(+50%);
  margin: 1rem;
  border: 1px solid var(--border-color)
}

.img {
  border: 1px solid var(--border-color);
  width: 35vw;
  height: 40vh;
  z-index: 2;
  transform: translateX(-50%);
  transition: 1s;
  margin: 1rem;
}
