.bar-load{
    width: 10rem;
    height: 0.7rem;
    border: 1px solid #2efe9a;
    
}

.bar-fg{
margin: 0.05rem;
    width: ""9.9rem"";
    height: 0.6rem;
    background-color: #2efe9a;
    transition: all 2s;

}

.bar-load:hover + .bar-fg{
   background: #000;

}